<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.AuthorMapper">


    <resultMap id="BaseResultMap" type="common.pojo.AuthorData" >
        <id column="id" 		        property="id" 			    jdbcType="INTEGER" />

        <result column="id"				property="id"			    jdbcType="INTEGER" />
        <result column="name"			property="name"			    jdbcType="VARCHAR" />
        <result column="institution"	property="institution"			jdbcType="VARCHAR" />
        <result column="weight"			property="weight"			jdbcType="INTEGER" />
        <result column="titles"			property="titles"			jdbcType="VARCHAR" />
        <result column="origin_ids"		property="originIds"		jdbcType="VARCHAR" />


    </resultMap>



    <select id="findAllDatas" parameterType="common.pojo.InquireInfoData" resultMap="BaseResultMap">
        select * from ${tableName}
    </select>



    <insert id="insert" parameterType="common.pojo.InquireInfoData" >

        INSERT INTO ${tableName}
        ( name,
          institution,
          weight,
          titles,
          origin_ids)

        VALUES
        ( #{authorData.name,jdbcType=VARCHAR},
          #{authorData.institution,jdbcType=VARCHAR},
          #{authorData.weight,jdbcType=NUMERIC},
          #{authorData.titles,jdbcType=VARCHAR},
          #{authorData.originIds,jdbcType=VARCHAR})

    </insert>



    <resultMap id="BaseMergeResultMap" type="common.pojo.AuthorData" >
        <id column="id" 		             property="id" 			        jdbcType="INTEGER" />
        <result column="id"				     property="id"			        jdbcType="INTEGER" />
        <result column="name"			     property="name"			    jdbcType="VARCHAR" />
        <result column="avatar"	             property="avatar"		        jdbcType="VARCHAR" />
        <result column="zh_last_name"		 property="zhLastName"		    jdbcType="VARCHAR" />
        <result column="zh_first_name"		 property="zhFirstName"		    jdbcType="VARCHAR" />
        <result column="en_last_name"		 property="enLastName"		    jdbcType="VARCHAR" />
        <result column="en_first_name"		 property="enFirstName"		    jdbcType="VARCHAR" />
        <result column="en_first_name_short" property="enFirstNameShort"	jdbcType="VARCHAR" />
        <result column="alias_name"			 property="aliasName"		    jdbcType="VARCHAR" />
        <result column="email"			     property="email"			    jdbcType="VARCHAR" />
        <result column="introduction"		 property="introduction"		jdbcType="VARCHAR" />
        <result column="insert_time"	     property="insertTime"		    jdbcType="TIMESTAMP" />
    </resultMap>




    <select id="findAllMergeDatas" parameterType="common.pojo.InquireInfoData" resultMap="BaseMergeResultMap">
        select * from ${tableName}
    </select>

    <insert id="insertMerge" parameterType="common.pojo.InquireInfoData" >

        INSERT INTO ${tableName}
        (
            avatar,
            name,
            zh_last_name,
            zh_first_name,
            en_last_name,
            en_first_name,
            en_first_name_short,
            alias_name,
            email,
            introduction,
            insert_time)
        VALUES
        (   #{authorData.avatar,    jdbcType=VARCHAR},
            #{authorData.name,      jdbcType=VARCHAR},
            #{authorData.zhLastName,  jdbcType=VARCHAR},
            #{authorData.zhFirstName, jdbcType=VARCHAR},
            #{authorData.enLastName,  jdbcType=VARCHAR},
            #{authorData.enFirstName, jdbcType=VARCHAR},
            #{authorData.enFirstNameShort, jdbcType=VARCHAR},
            #{authorData.aliasName,    jdbcType=VARCHAR},
            #{authorData.email,         jdbcType=VARCHAR},
            #{authorData.introduction,  jdbcType=VARCHAR},
            now())

    </insert>

</mapper>