<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.CommonMapper">


    <insert id="insert" parameterType="String" >


        oneSql

--         INSERT INTO author_institution
--         (
--         author_id,
--         institution_id,
--         group_id
--         )
--         VALUES
--         (
--         #{authorNameId,jdbcType=NUMERIC},
--         #{institutionId,jdbcType=NUMERIC},
--         #{groupId,jdbcType=NUMERIC}
--         )

    </insert>
</mapper>