<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.InstitutionMapper">
    <resultMap id="BaseResultMap" type="common.pojo.InstitutionData" >
        <id column="id" 		        property="id" 			    jdbcType="INTEGER" />

        <result column="id"				property="id"			    jdbcType="INTEGER" />
        <result column="name"			property="name"			    jdbcType="VARCHAR" />
        <result column="weight"			property="weight"			jdbcType="VARCHAR" />
        <result column="titles"			property="titles"			jdbcType="VARCHAR" />
        <result column="origin_ids"		property="originIds"		jdbcType="VARCHAR" />

    </resultMap>

    <select id="findAllDatas" parameterType="common.pojo.InquireInfoData" resultMap="BaseResultMap">
        select * from ${tableName}
    </select>


    <insert id="insert" parameterType="common.pojo.InquireInfoData" >

        INSERT INTO ${tableName}
        ( name,
          weight,
          titles,
          origin_ids)

        VALUES
        ( #{institutionData.name,jdbcType=VARCHAR},
          #{institutionData.weight,jdbcType=NUMERIC},
          #{institutionData.titles,jdbcType=VARCHAR},
          #{authorData.originIds,jdbcType=VARCHAR})

    </insert>




    <resultMap id="BaseMergeResultMap" type="common.pojo.InstitutionData" >
        <id column="id" 		        property="id" 			    jdbcType="INTEGER" />

        <result column="id"				property="id"			    jdbcType="INTEGER" />
        <result column="name_zh"		property="nameZh"			jdbcType="VARCHAR" />
        <result column="name_en"		property="nameEn"			jdbcType="VARCHAR" />
        <result column="introduction"	property="introduction"		jdbcType="VARCHAR" />
        <result column="insert_time"	property="insertTime"		jdbcType="TIMESTAMP" />

    </resultMap>




    <select id="findAllMergeDatas" parameterType="common.pojo.InquireInfoData" resultMap="BaseMergeResultMap">
        select * from ${tableName}
    </select>


    <insert id="insertMerge" parameterType="common.pojo.InquireInfoData" >

        INSERT INTO ${tableName}
        ( name_zh,
        name_en,
        introduction,
        insert_time)

        VALUES
        ( #{institutionData.nameZh,jdbcType=VARCHAR},
        #{institutionData.nameEn,jdbcType=VARCHAR},
        #{institutionData.introduction,jdbcType=VARCHAR},
        now())

    </insert>

</mapper>