<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="common.mapper.PaperMapper">
    <resultMap id="BaseResultMap" type="common.pojo.PaperData" >
        <id column="id" 				            property="id" 			    jdbcType="INTEGER" />

        <result column="id"				            property="id"			    jdbcType="INTEGER" />
        <result column="url"				        property="url"			    jdbcType="VARCHAR" />
        <result column="title"				        property="title"			jdbcType="VARCHAR" />
        <result column="author"				        property="author"			jdbcType="VARCHAR" />
        <result column="address"				    property="address"			jdbcType="VARCHAR" />
        <result column="pubtime"				    property="pubtime"			jdbcType="VARCHAR" />
        <result column="pubdate"				    property="pubdate"			jdbcType="VARCHAR" />
        <result column="publisher"				    property="publisher"		jdbcType="VARCHAR" />
        <result column="insert_time"				property="insertTime"		jdbcType="TIMESTAMP" />
        <result column="brief"				        property="brief"			jdbcType="VARCHAR" />
        <result column="journal"				    property="journal"			jdbcType="VARCHAR" />
        <result column="keywords"				    property="keywords"			jdbcType="VARCHAR" />
        <result column="refer_url"				    property="referUrl"		    jdbcType="VARCHAR" />
        <result column="md5"				        property="md5"			    jdbcType="VARCHAR" />
        <result column="cite_url"				    property="citeUrl"			jdbcType="VARCHAR" />
        <result column="refer_num"				    property="referNum"		    jdbcType="INTEGER" />
        <result column="cite_num"				    property="citeNum"			jdbcType="INTEGER" />
        <result column="fund"				        property="fund"			    jdbcType="VARCHAR" />
        <result column="category"				    property="category"			jdbcType="VARCHAR" />
        <result column="down_url"				    property="downUrl"			jdbcType="VARCHAR" />
        <result column="down_num"				    property="downNum"			jdbcType="INTEGER" />
        <result column="lab_category"				property="labCategory"		jdbcType="VARCHAR" />
        <result column="volume"				        property="volume"			jdbcType="VARCHAR" />
        <result column="issue"				        property="issue"			jdbcType="VARCHAR" />
        <result column="page_code"				    property="pageCode"			jdbcType="VARCHAR" />
        <result column="doi"				        property="doi"			    jdbcType="VARCHAR" />
        <result column="impact_factor_2year"		property="impactFactor2year"			jdbcType="FLOAT" />
        <result column="impact_factor_5year"		property="impactFactor5year"			jdbcType="FLOAT" />
        <result column="jcr"				        property="jcr"			    jdbcType="VARCHAR" />
        <result column="source_title"				property="sourceTitle"		jdbcType="VARCHAR" />
        <result column="conference_date"			property="conferenceDate"			jdbcType="VARCHAR" />
        <result column="conference_location"		property="conferenceLocation"		jdbcType="VARCHAR" />
        <result column="category_code"				property="categoryCode"			jdbcType="VARCHAR" />


    </resultMap>

    <select id="findDataById" parameterType="common.pojo.InquireInfoData" resultMap="BaseResultMap">
        select * from ${tableName}
        where id = #{searchId}
    </select>


    <select id="findAllDatas" parameterType="common.pojo.InquireInfoData" resultMap="BaseResultMap">
        select * from ${tableName}
    </select>

    <select id="findDatasByPeriod" parameterType="common.pojo.InquireInfoData" resultMap="BaseResultMap">
        select * from ${tableName}
        where pubdate>=#{start} and  #{end}>=pubdate
    </select>

    <select id="findDatasByStartId" parameterType="common.pojo.InquireInfoData" resultMap="BaseResultMap">
        SELECT  *  FROM  ${tableName}
        WHERE id>#{startId} AND (#{startId}+#{lenth})>id
    </select>

    <select id="findMaxId" parameterType="common.pojo.InquireInfoData" resultType="int">
        SELECT  max(id) FROM  ${tableName}
    </select>









    <resultMap id="BaseMergeResultMap" type="common.pojo.PaperMergeData" >
        <id column="id" 				            property="id" 			    jdbcType="INTEGER" />

        <result column="id"				            property="id"			    jdbcType="INTEGER" />
        <result column="title"				        property="title"			jdbcType="VARCHAR" />
        <result column="authors"				    property="authors"			jdbcType="VARCHAR" />
        <result column="institutions"				property="institutions"		jdbcType="VARCHAR" />
        <result column="pubdate"				    property="pubdate"			jdbcType="VARCHAR" />
        <result column="publisher"				    property="publisher"		jdbcType="VARCHAR" />
        <result column="insert_time"				property="insertTime"		jdbcType="TIMESTAMP" />
        <result column="brief"				        property="brief"			jdbcType="VARCHAR" />
        <result column="journal"				    property="journal"			jdbcType="VARCHAR" />
        <result column="keywords"				    property="keywords"			jdbcType="VARCHAR" />
        <result column="fund"				        property="fund"			    jdbcType="VARCHAR" />

        <result column="category"				    property="category"			jdbcType="VARCHAR" />
        <result column="volume"				        property="volume"			jdbcType="VARCHAR" />
        <result column="issue"				        property="issue"			jdbcType="VARCHAR" />
        <result column="page_code"				    property="pageCode"			jdbcType="VARCHAR" />
        <result column="doi"				        property="doi"			    jdbcType="VARCHAR" />
        <result column="impact_factor_2year"		property="impactFactor2year"			jdbcType="FLOAT" />
        <result column="impact_factor_5year"		property="impactFactor5year"			jdbcType="FLOAT" />
        <result column="jcr"				        property="jcr"			    jdbcType="VARCHAR" />
        <result column="source_title"				property="sourceTitle"		jdbcType="VARCHAR" />


        <result column="conference_date"			property="conferenceDate"			jdbcType="VARCHAR" />
        <result column="conference_location"		property="conferenceLocation"		jdbcType="VARCHAR" />
        <result column="category_code"				property="categoryCode"			jdbcType="VARCHAR" />

        <result column="in_sci"				    property="inSci"		    jdbcType="INTEGER" />
        <result column="sci_down"				property="sciDown"		    jdbcType="INTEGER" />
        <result column="sci_refer"				property="sciRefer"		    jdbcType="INTEGER" />
        <result column="sci_data_id"			property="sciDataId"		jdbcType="INTEGER" />
        <result column="in_ei"				    property="inEi"		        jdbcType="INTEGER" />
        <result column="ei_down"				property="eiDown"		    jdbcType="INTEGER" />
        <result column="ei_refer"				property="eiRefer"		    jdbcType="INTEGER" />
        <result column="ei_data_id"			    property="eiDataId"		    jdbcType="INTEGER" />
        <result column="in_cnki"				property="inCnki"		    jdbcType="INTEGER" />
        <result column="cnki_down"				property="cnkiDown"		    jdbcType="INTEGER" />
        <result column="cnki_refer"				property="cnkiRefer"		jdbcType="INTEGER" />
        <result column="cnki_data_id"			property="cnkiDataId"		jdbcType="INTEGER" />
        <result column="format_str"				property="formatStr"		jdbcType="VARCHAR" />
    </resultMap>




    <select id="findAllMergeDatas" resultMap="BaseMergeResultMap">
        select * from paper
    </select>


    <insert id="insertMerge" parameterType="common.pojo.PaperMergeData" >

        INSERT INTO paper
        (  title,
            authors,
            institutions,
            pubdate,
            publisher,
            insert_time,
            brief,
            journal,
            keywords,
            fund,
            category,
            volume,
            issue,
            page_code,
            doi,
            impact_factor_2year,
            impact_factor_5year,
            jcr,
            source_title,
            conference_date,
            conference_location,
            category_code,
            in_sci,
            sci_down,
            sci_refer,
            sci_data_id,
            in_ei,
            ei_down,
            ei_refer,
            ei_data_id,
            in_cnki,
            cnki_down,
            cnki_refer,
            cnki_data_id,
            format_str
        )

        VALUES
        (

            #{title,jdbcType=VARCHAR},
            #{authors,jdbcType=VARCHAR},
            #{institutions,jdbcType=VARCHAR},
            #{pubdate,jdbcType=DATE},
            #{publisher,jdbcType=VARCHAR},
            now(),
            #{brief,jdbcType=VARCHAR},
            #{journal,jdbcType=VARCHAR},
            #{keywords,jdbcType=VARCHAR},
            #{fund,jdbcType=VARCHAR},
            #{category,jdbcType=VARCHAR},
            #{volume,jdbcType=VARCHAR},
            #{issue,jdbcType=VARCHAR},
            #{pageCode,jdbcType=VARCHAR},
            #{doi,jdbcType=VARCHAR},
            #{impactFactor2year,jdbcType=FLOAT},
            #{impactFactor5year,jdbcType=FLOAT},
            #{jcr,jdbcType=VARCHAR},
            #{sourceTitle,jdbcType=VARCHAR},
            #{conferenceDate,jdbcType=VARCHAR},
            #{conferenceLocation,jdbcType=VARCHAR},
            #{categoryCode,jdbcType=VARCHAR},
            #{inSci,jdbcType=NUMERIC},
            #{sciDown,jdbcType=NUMERIC},
            #{sciRefer,jdbcType=NUMERIC},
            #{sciDataId,jdbcType=NUMERIC},
            #{inEi,jdbcType=NUMERIC},
            #{eiDown,jdbcType=NUMERIC},
            #{eiRefer,jdbcType=NUMERIC},
            #{eiDataId,jdbcType=NUMERIC},
            #{inCnki,jdbcType=NUMERIC},
            #{CnkiDown,jdbcType=NUMERIC},
            #{CnkiRefer,jdbcType=NUMERIC},
            #{CnkiDataId,jdbcType=NUMERIC},
            #{formatStr,jdbcType=VARCHAR}
        )

    </insert>



    <update id="insertMerge" parameterType="common.pojo.PaperMergeData" >

        INSERT INTO paper
        (  title,
        authors,
        institutions,
        pubdate,
        publisher,
        insert_time,
        brief,
        journal,
        keywords,
        fund,
        category,
        volume,
        issue,
        page_code,
        doi,
        impact_factor_2year,
        impact_factor_5year,
        jcr,
        source_title,
        conference_date,
        conference_location,
        category_code,
        in_sci,
        sci_down,
        sci_refer,
        sci_data_id,
        in_ei,
        ei_down,
        ei_refer,
        ei_data_id,
        in_cnki,
        cnki_down,
        cnki_refer,
        cnki_data_id,
        format_str
        )

        VALUES
        (

        #{title,jdbcType=VARCHAR},
        #{authors,jdbcType=VARCHAR},
        #{institutions,jdbcType=VARCHAR},
        #{pubdate,jdbcType=DATE},
        #{publisher,jdbcType=VARCHAR},
        now(),
        #{brief,jdbcType=VARCHAR},
        #{journal,jdbcType=VARCHAR},
        #{keywords,jdbcType=VARCHAR},
        #{fund,jdbcType=VARCHAR},
        #{category,jdbcType=VARCHAR},
        #{volume,jdbcType=VARCHAR},
        #{issue,jdbcType=VARCHAR},
        #{pageCode,jdbcType=VARCHAR},
        #{doi,jdbcType=VARCHAR},
        #{impactFactor2year,jdbcType=FLOAT},
        #{impactFactor5year,jdbcType=FLOAT},
        #{jcr,jdbcType=VARCHAR},
        #{sourceTitle,jdbcType=VARCHAR},
        #{conferenceDate,jdbcType=VARCHAR},
        #{conferenceLocation,jdbcType=VARCHAR},
        #{categoryCode,jdbcType=VARCHAR},
        #{inSci,jdbcType=NUMERIC},
        #{sciDown,jdbcType=NUMERIC},
        #{sciRefer,jdbcType=NUMERIC},
        #{sciDataId,jdbcType=NUMERIC},
        #{inEi,jdbcType=NUMERIC},
        #{eiDown,jdbcType=NUMERIC},
        #{eiRefer,jdbcType=NUMERIC},
        #{eiDataId,jdbcType=NUMERIC},
        #{inCnki,jdbcType=NUMERIC},
        #{CnkiDown,jdbcType=NUMERIC},
        #{CnkiRefer,jdbcType=NUMERIC},
        #{CnkiDataId,jdbcType=NUMERIC},
        #{formatStr,jdbcType=VARCHAR},
        update_time=now()
        )

    </update>

    <update id="updateMerge"  parameterType="common.pojo.PaperMergeData">
        update paper SET
        title=#{title,jdbcType=VARCHAR},
        authors=#{authors,jdbcType=VARCHAR},
        institutions=#{institutions,jdbcType=VARCHAR},
        pubdate=#{pubdate,jdbcType=DATE},
        publisher=#{publisher,jdbcType=VARCHAR},
        brief=#{brief,jdbcType=VARCHAR},
        journal=#{journal,jdbcType=VARCHAR},
        keywords=#{keywords,jdbcType=VARCHAR},
        fund=#{fund,jdbcType=VARCHAR},
        category=#{category,jdbcType=VARCHAR},
        volume=#{volume,jdbcType=VARCHAR},
        issue=#{issue,jdbcType=VARCHAR},
        page_code=#{pageCode,jdbcType=VARCHAR},
        doi=#{doi,jdbcType=VARCHAR},
        impact_factor_2year=#{impactFactor2year,jdbcType=FLOAT},
        impact_factor_5year=#{impactFactor5year,jdbcType=FLOAT},
        jcr=#{jcr,jdbcType=VARCHAR},
        source_title=#{sourceTitle,jdbcType=VARCHAR},
        conference_date=#{conferenceDate,jdbcType=VARCHAR},
        conference_location=#{conferenceLocation,jdbcType=VARCHAR},
        category_code=#{categoryCode,jdbcType=VARCHAR},
        in_sci=#{inSci,jdbcType=NUMERIC},
        sci_down=#{sciDown,jdbcType=NUMERIC},
        sci_refer=#{sciRefer,jdbcType=NUMERIC},
        sci_data_id=#{sciDataId,jdbcType=NUMERIC},
        in_ei=#{inEi,jdbcType=NUMERIC},
        ei_down=#{eiDown,jdbcType=NUMERIC},
        ei_refer=#{eiRefer,jdbcType=NUMERIC},
        ei_data_id=#{eiDataId,jdbcType=NUMERIC},
        in_cnki=#{inCnki,jdbcType=NUMERIC},
        cnki_down=#{CnkiDown,jdbcType=NUMERIC},
        cnki_refer=#{CnkiRefer,jdbcType=NUMERIC},
        cnki_data_id=#{CnkiDataId,jdbcType=NUMERIC},
        format_str=#{formatStr,jdbcType=VARCHAR}
        where id=#{id}
    </update>



    <insert id="insertPaperAuthor" parameterType="common.pojo.PaperAuthorInstiData" >

        INSERT INTO paper_author
        (
            paper_id,
            author_id,
            `order`
        )
        VALUES
        (
            #{paperId,jdbcType=NUMERIC},
            #{authorNameId,jdbcType=NUMERIC},
            #{authorRank,jdbcType=NUMERIC}
        )

    </insert>

    <insert id="insertPaperAuthorInsti" parameterType="common.pojo.PaperAuthorInstiData" >

        INSERT INTO paper_author_institution
        (
        paper_id,
        author_id,
        institution_id
        )
        VALUES
        (
        #{paperId,jdbcType=NUMERIC},
        #{authorNameId,jdbcType=NUMERIC},
        #{institutionId,jdbcType=NUMERIC}
        )

    </insert>

    <insert id="insertPaperInsti" parameterType="common.pojo.PaperAuthorInstiData" >

        INSERT INTO paper_institution
        (
        paper_id,
        institution_id,
        `order`
        )
        VALUES
        (
        #{paperId,jdbcType=NUMERIC},
        #{institutionId,jdbcType=NUMERIC},
        #{institutionRank,jdbcType=NUMERIC}
        )

    </insert>


    <!--author_id-->
    <!--institution_id-->
    <!--group_id-->



    <insert id="insertAuthorInstiGroup" parameterType="common.pojo.PaperAuthorInstiData" >

    INSERT INTO author_institution
    (
    author_id,
    institution_id,
    group_id
    )
    VALUES
    (
    #{authorNameId,jdbcType=NUMERIC},
    #{institutionId,jdbcType=NUMERIC},
    #{groupId,jdbcType=NUMERIC}
    )

</insert>
</mapper>